h1 {
    border: 2px solid rgb(241, 215, 99);
    width: 200px;
    height: 50px;
    color: rgb(241, 215, 99);
}

h2  {
    color: red;
}

button {
    background: red;
    color: aliceblue;
    min-width: 200px;
}

#elemento {
    background: rgb(48, 46, 206);
    color: azure;
    width: 200px;
    height: 200px;
    /*margin: 50px 10px;*/
    margin: auto;
    padding: 10px 10px;
}

li {
    color: aqua;
    border: 2px solid currentColor;
}